*{
    margin: 0px;
    padding: 0px;
}
body{
    padding: 20px;
}
.container{
    width: 250px;
    margin: auto;
    padding: 10px;
    background-color: rgba(135, 206, 250, 0.561);
    border-radius: 5px;
}
input{
    width: 98%;
    border: solid 1px;
    padding: 2px;
    margin-bottom: 10px;
    
}
.p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: left;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
button{
    padding: 5px;
    margin: auto;
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    background-color: rgb(83, 177, 236);
    border: solid 1px;
}


